# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: 生成周报

on:
  workflow_dispatch:

  schedule:
    - cron: "1 1 * * Mon"

env:
  USER_ID: ${{ secrets.USER_ID }}
  USER_PWD: ${{ secrets.USER_PWD }}
  # AI 相关
  # 地址倒不是什么密码，但放一起好管理
  ## Deep Seek
  OPEN_AI_BASE_URL: ${{ secrets.OPEN_AI_BASE_URL }}
  OPEN_AI_API_KEY: ${{ secrets.OPEN_AI_API_KEY }}
  # deepseek-reasoner 是 DeepSeek 最新推出的推理模型 DeepSeek-R1
  # deepseek-chat 模型已全面升级为 DeepSeek-V3
  OPEN_AI_MODEL: ${{ secrets.OPEN_AI_MODEL }}
  # R1 不能理解 要列表，和不要列表
  # OPEN_AI_MODEL=deepseek-reasoner

  ## 邮件
  SENDER: ${{ secrets.SENDER }}
  SENDER_USERNAME: ${{ secrets.SENDER_USERNAME }}
  SENDER_PASSWD: ${{ secrets.SENDER_PASSWD }}
  
  RECEIVER: ${{ secrets.RECEIVER }}

  ACTION: True

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal access token.
        fetch-depth: 0 # otherwise, there would be errors pushing refs to the destination repository.

    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Run the app
      run: |
        python main.py

    - name: commit files
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add -A
        git diff-index --quiet HEAD || (git commit -a -m "updated logs" --allow-empty)

    - name: push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: ${{ github.ref }}
